.modal-overlay2 {
    position: fixed;
    top: 37%;
    left: 0;
    right: 82.2%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .modal-content2 {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
  }
  
  .modal-header2 {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: #fff; 
    font-size: 24px;
    cursor: pointer;
  }

  .logout, .settings{
    cursor: pointer;
  }
  