*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.stories{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.stories::-webkit-scrollbar{
    display: none;
}
.story-card{
    width: 70px;
    margin: auto;
    height: 110px;
    border: none;
    background: transparent;
}
.back-linear-not{
    position: relative;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin: auto;

}
.back-linear-not img{
    position: absolute;
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: auto;
    top: 1.4px;
    left: 1.4px;
    border-radius: 50%;
}
.back-linear-not .plus-icon-story{
    width: 16px;
    height: 16px;
    position: absolute;
    background: white;
    border-radius: 50%;
    bottom: 4px;
    right: 3px;
}
.back-linear-not .plus-icon-story img{
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-left: 2px;
}
.back-linear{
    position: relative;
    width: 66px;
    height: 66px;
    background-color:  rgb(224, 9, 100);
    border-radius: 50%;
    margin: auto;
}
.back-linear img{
    position: absolute;
    width: 63px;
    height: 63px;
    object-fit: cover;
    margin: auto;
    top: 1.4px;
    left: 1.4px;
    border-radius: 50%;
}
.story-card .name{
    margin: auto;
    font-size: 12px;
    color: #f5f5f5;
}